# Asegura que todos los archivos de texto usen finales de línea LF en el repositorio
* text=auto

# Fuerza el uso de LF en archivos de código fuente y configuración
*.sh text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf

# Ignorar archivos binarios
*.png binary
*.jpg binary
